<app-menu-bar></app-menu-bar>
<div class="home__container">
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Digital"
		title="Joga aí"
		console="Onde quiser"
		price="R$2,50 agora"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Exclusivo"
		title="Jogue agora!"
		console="PC | PS4"
		price="R$59,90"
	></app-card>
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Promoção"
		title="Aproveite!"
		console="XBOX | PS5 | PS4 | PS3 | PC"
		price="R$250"
	></app-card>
</div>
